St. Teresa LIS 2019/Connected Services/HistologyWebserviceDev/HistologyWebserviceDev.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="HistologyWebservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="HistologyWebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="HistologyWebservice">
      <s:element name="updateResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLDatagram" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResultEHR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLDatagram" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResultEHRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateResultEHRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVisitNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPatientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDoctorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="updateResultSoapIn">
    <wsdl:part name="parameters" element="tns:updateResult" />
  </wsdl:message>
  <wsdl:message name="updateResultSoapOut">
    <wsdl:part name="parameters" element="tns:updateResultResponse" />
  </wsdl:message>
  <wsdl:message name="updateResultEHRSoapIn">
    <wsdl:part name="parameters" element="tns:updateResultEHR" />
  </wsdl:message>
  <wsdl:message name="updateResultEHRSoapOut">
    <wsdl:part name="parameters" element="tns:updateResultEHRResponse" />
  </wsdl:message>
  <wsdl:message name="getPatientSoapIn">
    <wsdl:part name="parameters" element="tns:getPatient" />
  </wsdl:message>
  <wsdl:message name="getPatientSoapOut">
    <wsdl:part name="parameters" element="tns:getPatientResponse" />
  </wsdl:message>
  <wsdl:message name="getDoctorSoapIn">
    <wsdl:part name="parameters" element="tns:getDoctor" />
  </wsdl:message>
  <wsdl:message name="getDoctorSoapOut">
    <wsdl:part name="parameters" element="tns:getDoctorResponse" />
  </wsdl:message>
  <wsdl:portType name="HistologyWebserviceSoap">
    <wsdl:operation name="updateResult">
      <wsdl:input message="tns:updateResultSoapIn" />
      <wsdl:output message="tns:updateResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateResultEHR">
      <wsdl:input message="tns:updateResultEHRSoapIn" />
      <wsdl:output message="tns:updateResultEHRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <wsdl:input message="tns:getPatientSoapIn" />
      <wsdl:output message="tns:getPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDoctor">
      <wsdl:input message="tns:getDoctorSoapIn" />
      <wsdl:output message="tns:getDoctorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HistologyWebserviceSoap" type="tns:HistologyWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateResult">
      <soap:operation soapAction="HistologyWebservice/updateResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateResultEHR">
      <soap:operation soapAction="HistologyWebservice/updateResultEHR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <soap:operation soapAction="HistologyWebservice/getPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctor">
      <soap:operation soapAction="HistologyWebservice/getDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HistologyWebserviceSoap12" type="tns:HistologyWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateResult">
      <soap12:operation soapAction="HistologyWebservice/updateResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateResultEHR">
      <soap12:operation soapAction="HistologyWebservice/updateResultEHR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatient">
      <soap12:operation soapAction="HistologyWebservice/getPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctor">
      <soap12:operation soapAction="HistologyWebservice/getDoctor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HistologyWebservice">
    <wsdl:port name="HistologyWebserviceSoap" binding="tns:HistologyWebserviceSoap">
      <soap:address location="http://sthwebdev/Histology/ws/HistologyWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="HistologyWebserviceSoap12" binding="tns:HistologyWebserviceSoap12">
      <soap12:address location="http://sthwebdev/Histology/ws/HistologyWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>